 @page "/EmployeeManagement"

 @rendermode InteractiveServer

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">
            <RadzenDataGrid ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="5"
                            AllowSorting="true" Data="@employees" TItem="OmEmployee"
                            AllowRowSelectOnRowClick="true" RowClick="@(args => OnEmployeeRowClick(args))"
                            @bind-Value="@SelectedEmp">
                            <Columns>
                     
                    <RadzenDataGridColumn TItem="OmEmployee" Property="Employee Profile" Title="Employee Profile" Width="200px">
                        <Template Context="omEmployee">
                            <RadzenImage Path="@omEmployee.EmployeeProfilePath" Style="width: 42px; height: 42px; border-radius: 16px; margin-right: 6px;" />
                            @omEmployee.Name
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="OmEmployee" Property="Address" Title="Address" Width="200px" />
                    <RadzenDataGridColumn TItem="OmEmployee" Property="Email" Title="Email" Width="200px" />
                    <RadzenDataGridColumn TItem="OmEmployee" Property="PhoneNumber" Title="Phone" Width="140px" />
                    <RadzenDataGridColumn TItem="OmEmployee" Property="SalaryAmount" Title="Salary" Width="140px" />
                    <RadzenDataGridColumn TItem="OmEmployee" Property="CreatedDate" Title="Created Date" FormatString="{0:d}" Width="140px" />
                  
                </Columns>
               
            </RadzenDataGrid>
        </div>
        <div class="col-md-6">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Salary Management ">
                        <RadzenButton  class="add-cst-btn"Text="Add Salary" Click="@AddSalary"   />
                         
                        <RadzenDataGrid   @ref="salaryManagementGrid" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@salaryManagementData">
                            <Columns>
                                <RadzenDataGridColumn Property="AdvancePayment" Title="AdvancePayment" />
                                <RadzenDataGridColumn Property="AdvancePaymentDate" Title="AdvancePaymentDate" />
                                <RadzenDataGridColumn Property="DueBalance" Title="DueBalance" />
                                <RadzenDataGridColumn Property="OverBalance" Title="OverBalance" />
                                <RadzenDataGridColumn Property="CreatedDate" Title="CreatedDate" />
                                <RadzenDataGridColumn Property="OverTimeSalary" Title="OverTimeSalary" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Documents">
                        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@(SelectedEmp.FirstOrDefault()?.EmployeeDocuments)" PageSize="10">
                            <Template Context="document">
                                @foreach (var empDoc in SelectedEmp.FirstOrDefault()?.EmployeeDocuments)
                                {
                                    <RadzenCard Style="width:100px;height:100px">
                                        <RadzenImage Path="@empDoc" Style="width: 100px; height:100px; border-radius: 16px; cursor: pointer;"   />

                                    </RadzenCard>
                                   
                                }
                            </Template>
                        </RadzenDataList>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
           
        </div>
    </div>
</div>
 
 